doctype html
html(lang='en-US')
    head
        meta(charset='UTF-8')
        meta(http-equiv='content-type', content='text/html; charset=utf-8')

        title= 'Guessle ' + title

        meta(name='description', content='A word game based on Wordle')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='stylesheet', href='/main.css')
    
    body
        header
            h1
                a(href='/') Guessle

        main#main-content
            if error
                aside.alert.alert-error
                    p= error
            if info
                aside.alert.alert-info
                    p= info
            
            block content

        footer
            p 
                | Yes, it's a 
                a(href='https://www.powerlanguage.co.uk/wordle/') Wordle
                |  clone.
            p
                | &copy; Jordan Kasper 2021 | See this code on 
                a(href='https://github.com/jakerella/guessle' target='_blank' title='View the Wordle Clone code on GitHub')
                    | GitHub
            p 
                a(href='/') Back to the game!
