extends partials/simple.pug

block content
    h2 Privacy Policy

    p
        | This site does not use cookies to track visitors in any way. That said, in order to maintain
        | your game history, the site store minimal game-related data in your browser's local storage. This 
        | data contains no personally identifiable information, and is never sent to the server.
    
    p 
        | In order to track overall statistics for wins, quits, and play frequency, the server tracks your
        | IP address, which you can see at the bottom of this page. The data only includes your IP and 
        | number of wins and quits. This data is never used for anything besides showing the statistics
        | on this site.

    p
        | One caveat to this Privacy Policy is that it only applies to this application when run on
        | guessle.herokuapp.com and no others. The code for this application is open source, which means
        | anyone else may run their own version of this application. If they do, this privacy policy may
        | be very different and you should check with the administrators of that site.
